@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
}
.title{
    font-weight: 600;
}
nav{
    background-color: white;
    box-shadow: 0px 5px 5px #ddd;
    height: 75px;
}
.menu{
    margin-left: 750px;
}
.nav-item{
    margin-left: 7px;
    margin-right: 7px;
    background: #f78c46;
    padding-right: 5px;
    border-radius: 7px;
   
}
.nav-item:hover{
    background-color: white;
}
.nav-link span{
    vertical-align: bottom;
    padding-right: 5px;
    padding-left: 10px;
    color: white;
}
.nav-link{
    color: white;
}

.app{
    font-weight: 400;
    font-size: 18px;
}
.footer-text{
    font-size: 14px;

}
.footer-menu{
    color: #F78C46;
    font-size: 15px;
}
.footer{
    margin-top: 25px;
}
.form-group{
    margin-left: 20%;
}
.btn{
    background: #F78C46;
    color: white;
    width: 75%;
    margin-left:13%;
}
h2 {
  font-family: 'Damion', cursive;
  font-weight: 400;
  color: #F78C46;
  font-size: 35px;
  text-align: center;
  position: relative;
}
h2:before {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  top: 22px;
  background: #aaa;
  height: 1px;
}
h2 i {
  font-style: normal;
  background: #fff;
  position: relative;
  padding: 10px;
}
:focus{outline: none;}

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
textarea				{
  margin-left: 13%;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:75%;
  border:none;
  border:1px solid #F78C46;
}
input			{
  margin-left: 13%;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:75%;
  border:none;
  border-bottom:1px solid #F78C46;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  margin-left:13%;
  color: #aaa;
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label ,textarea:focus ~ label		{
  margin-left:13%;
  top:-20px;
  font-size:14px;
  color:#df7016;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#0731da; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */


/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight,textarea:focus ~ .highlight {
  margin-left:13px;
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
/*privacy style ===========================*/
.conf-text{
  color: #F78C46;
}
.icon{
  vertical-align: bottom;
}
.question{
  color: #e4600d;
  font-size: 18px;
  font-weight: 300;
}
strong{
  font-weight: 600;
}